[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  font-weight: 10;
  text-decoration-color: #aaa;
  pointer-events: none;
  display: block; /* For Firefox */
}

div[contenteditable="true"] {
  border: 1px dashed #aaa;
  border-radius: 5px;
  /* width: 290px; */
  padding: 15px;
}

*[contenteditable="true"] {
  outline: 0px solid transparent;
}
